# overrides for local development, not used in CI
services:
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      x-bake:
        tags:
          - registry.lil.tools/harvardlil/scoop-rest-api:151-11407a760241dfe19c128bbb631801ee
        platforms:
          - linux/amd64
          - linux/arm64
      x-hash-paths:
        - docker/cleanup-crontab
        - docker/docker-entrypoint.sh
        - scoop_rest_api
        - package-lock.json
        - package.json
        - poetry.lock
        - pyproject.toml
        - wsgi.py
    volumes:
      - ./:/app:delegated
      - ./docker/docker-entrypoint.sh:/docker-entrypoint.sh
      # Use a named, persistent volume so that the node_modules directory,
      # which is created during the image's build process, isn't wiped out
      # when mounting our code in ./ code to the container.
      - node_modules:/app/node_modules
