name: Build and test build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    # don't run on pushes to forks
    if: github.event_name == 'pull_request' || github.repository == 'harvard-lil/perma-scoop-api'

    steps:
      - uses: actions/checkout@v2

      ### build docker images locally ###

      - name: Rebuild docker images
        id: rebuild
        uses: harvard-lil/docker-compose-update-action@main

      ### run tests ###

      - name: docker compose up
        run: |
          # separate pull so downloads run in parallel, with
          # --ignore-pull-failures for PRs with new images that haven't been pushed yet:
          docker compose -f docker-compose.yml pull --ignore-pull-failures || true
          docker compose -f docker-compose.yml up -d        # use -f to suppress docker-compose.override.yml
          sleep 7
          docker ps -a                                      # show running containers
          docker compose logs                               # show logs

      - name: Python tests
        shell: 'script -q -e -c "bash --noprofile --norc -eo pipefail {0}"'  # avoid docker-compose "the input device is not a TTY" -- see https://github.com/actions/runner/issues/241#issuecomment-842566950
        run: |
          set -x
          docker compose exec web xvfb-run --auto-servernum -- poetry run pytest -v

      - name: Update requirements
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        shell: 'script -q -e -c "bash --noprofile --norc -eo pipefail {0}"'  # avoid docker-compose "the input device is not a TTY" -- see https://github.com/actions/runner/issues/241#issuecomment-842566950
        run: |
          docker compose exec web poetry export -o requirements.txt
          git config user.email "lil@law.harvard.edu"
          git config user.name "Github Actions"
          if [[ `git status requirements.txt --porcelain` ]] ; then
            git add requirements.txt
            git commit -m "Update requirements [skip ci]"
            git push origin main || exit 1
          fi

      - name: Update image tag
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        shell: 'script -q -e -c "bash --noprofile --norc -eo pipefail {0}"'  # avoid docker-compose "the input device is not a TTY" -- see https://github.com/actions/runner/issues/241#issuecomment-842566950
        run: |
          git config user.email "lil@law.harvard.edu"
          git config user.name "Github Actions"
          if [[ `git status docker-compose.yml docker-compose.override.yml --porcelain` ]] ; then
            git add docker-compose.yml docker-compose.override.yml
            git commit -m "Bump image version [skip ci]"
            git push origin main || exit 1
          fi

      - name: Push docker images
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: harvard-lil/docker-compose-update-action@main
        with:
          registry: "registry.lil.tools"
          registry-user: ${{ secrets.REPOSITORY_USER }}
          registry-pass: ${{ secrets.REPOSITORY_TOKEN }}
          bake-action: "push"
